<div class="dashboard">

    <ul>
        <li data-ng-repeat="error in vm.errorCodes">
            {{error | json}}
        </li>
    </ul>

    <md-content layout-padding>
        <md-grid-list
            md-cols-gt-md="4" md-cols="3"
            md-row-height="2:1"
            md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px"
        >
            <md-grid-tile data-ng-repeat="command in vm.commands" style="border: 1px solid red;">
                <command name="command"></command>
            </md-grid-tile>
            <div flex></div>
        </md-grid-list>
    </md-content>

    <!--
    <div id="example">
    <div id="gauge-container">
        <div id="rpm">

            <span kendo-radialgauge
                  k-scale="vm.scaleRpm"
                  ng-model="vm.rpm"
            ></span>

        </div>
        <div id="kmh">
            <span kendo-radialgauge
                  k-scale="vm.scaleSpeed"
                  ng-model="vm.speed"
            ></span>
        </div>
        <div id="fuel">
            <span kendo-radialgauge
                  k-scale="vm.scaleFuel"
                  ng-model="vm.fuel"l
            ></span>
        </div>
        <div id="water-temprature"></div>
    </div>
    </div>
    -->


    <hr />

    {{vm.commands}}

<!--
    <span kendo-radialgauge
          k-scale="{ min:0, max: 100}"
          ng-model="selectedNumber"
    ></span>

    <input kendo-slider k-min="0" k-max="100" k-show-buttons="false" k-show-labels="false" k-small-step="10" k-large-step="20" ng-model="selectedNumber">
-->
    <hr />

    <small>
    {{vm.dashboard | json }}
    <hr />
    {{vm.liveData | json }}
    </small>

</div>
